[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system-desktop.git
	branch = master
	ignore = dirty
[submodule "vendor/nim-stew"]
	path = vendor/nim-stew
	url = https://github.com/status-im/nim-stew.git
[submodule "vendor/nim-bearssl"]
	path = vendor/nim-bearssl
	url = https://github.com/status-im/nim-bearssl.git
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/michaelsbradleyjr/nim-chronos.git
